@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
    --greyish: #454545;
    --dark-grey: #6c6b70;
    --h-orange: #ffb254;
    --white-grey: #bcbcbc;
    --h-grey: #d4cac8; 
    --text-color: #fff;
    --black-text-color: #000;

    --secondary-text-color: #;
    --button-color: #3882f6;
}

html, body{
    font-family:'Staatliches',cursive;
    font-style: normal;
    font-weight: 100;
}


body{
    margin: 0; 
    background: var(--h-grey);
}

.image-container img{
    display: flex;
    width: 500px;
    height: 250px;
    flex: 1;
    background: var(--h-grey);
}

p{
    margin: 0;
}
header{
    display: flex;
    background: var(--greyish);
    color: var(--h-orange);
    justify-content: space-between;
    padding: 0 200px;
    align-items: center;

}


span {
  content: "\00A9";
}

footer{
    display: flex;
    color: var(--h-orange);
    background: var(--greyish);
    padding: 50px 200px;
    justify-content: center;
}

.intro{
    display: flex;
    background: var(--white-grey);
    color: var(--black-text-color);
    gap: 30px;
    padding: 100px 200px;
    justify-content: space-between;
}

.information{
    background: var(--h-grey);
    margin-bottom: 100px;
}

.info-presentation{
    
    display:flex;
    justify-content: center;
    color: var(--black-text-color);
    font-size: 36px;
    font-weight: 550;
    padding: 50px;
}

.item-container{
    
    display: flex;
    height: 300px;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.item-container p{
    font-size: 18px;
    color: #1f2937;
}
 
.info-items{
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    gap: 90px;  
}

.info-item{

    max-width: 100%;
    height: auto;
    background: var(--h-grey);
    margin-bottom: 2em;

}

.intro-content{
    display: flex;
    flex-direction: column;
    justify-content: space-e;
    color: var(--black-text-color);
}

.intro-title{
    margin: 0;
    font-size: 48px;
    font-weight: 550;
    color: var(--black-text-color);
    line-height: 60px;
}


.test{
    margin: 0 auto;
    background: green;
}

.intro-text{
    width: 400px;
    font-size: 18px;
    font-weight: normal;
    color: var(--black-text-color);
    opacity: 70%;
    flex: 1;
    line-height: 20px;
}

.logo-icon{
    align-self: center;
    padding: 1em 0;
}

ul{
    display:flex;
    font-weight: normal;
    font-size: 18px;
    gap: 20px;
    list-style-type:none;
}

button{
    display: flex;
    flex: 0;
    background: var(--h-orange);
    border: none;
    border-radius: 6px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    width: 120px;
    font-size: 18px;
    font-weight: 600;
    color: var(--black-text-color);
}



.content{
    
    display:flex;
    flex-direction: column;
    
}

.quote{
    background: #e5e7eb;
    color: var(--list-color);
    font-size: 36px;
}

.quote-author{
    display: flex;
    font-size: 24px;
    color: #1f2937;
    align-self: flex-end;
    font-weight: 800;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 350px;
    background: var(--h-grey)
}

.quote-text{
    display:flex;
    color: #1f2937;
    justify-content: center;
    font-size: 36px;
    font-family: italic;
    align-self: flex-start;
}

.signup{
    display: flex;
    text-align: center;
    padding: 100px 200px;
    background: var(--white-grey);
    width:auto;

}

.signup-container{
    display: flex;
    background: var(--dark-grey);
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 50px 100px;
}

.signup-block{
    display: flex;
    flex-direction: column;   
}

.bolded-text{
    color: var(--h-orange);
    font-size: 24px;
    font-weight: 800;
}

.light-text{
    color: #e5e7eb;
    font-size: 18px;
}

.right-signup{

}

.signup-button{

    width: 120px;

    align-items: center;
    
}



